.site-nav {
    position: relative;
    

    ul {

        @include bp(mobile) {
            display: none;
            position: absolute;
            z-index: 20;
            right: 0;
            top: 20px;
            width: 10em;
    }
        list-style: none;
        display: flex;
        margin-left: auto;

        ul {
            display: none;
            position: absolute;
            z-index: 100;
        }
    }

    li {
        display: block;
        transform: translateY(-5rem);
        opacity: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

        
        /* Animation */

        &:nth-child(2) {transition-delay: 0.1s;}
        &:nth-child(3) {transition-delay: 0.2s;}
        &:nth-child(4) {transition-delay: 0.3s;}
        &:nth-child(5) {transition-delay: 0.4s;}

        
        .loaded & {
            transform: translateY(0);
            opacity: 1;
        }

        &:hover ul {
            display: block;
        }

        a {
            display: block;
            padding: 0.5em 1em;
            background: rgba(51, 51, 51, 0.7);
            color:#fff;
            transition: background 0.2s linear;
        }
    }

    .current-page a,
    a:hover {
    background: rgba(130, 6, 161, 0.596);
    }

}



.nav-toggle {
    position: absolute;
    pointer-events: none;

    

    &:checked + .site .site-header .site-nav ul {
        @include bp(mobile) {
            display: block;
        }
        
    }

    &-label {
        background: rgba(130, 6, 161, 0.596);
        display: block;
        padding: 0.5em 1em;
        color:#fff;
        margin-left: auto;

        @include bp(desktop) {
            display: none;
        }
    }


}
